body {
    margin: 0%;
    padding: 0%;
    font-family: 'Cookie', cursive;
    font-family: 'Cormorant SC', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

.top-banner {
    display: flex;
    background: url(images/shapes/Frame\ 58.jpg);

    background-size: cover;
    background-color: rgba(0, 0, 0, 0.25);
    margin-bottom: 1rem;

}

h1 {

    text-decoration: none;
    font-size: 50px;
    color: darkslategray;
    margin-top: 15%;
    text-align: center;
}

span {
    color: rgb(234, 38, 4);
}

.top-banner p {
    font-size: 25px;
    color: darkslategrey;
    text-align: center;
    margin-top: 20px;
}

.half-width {
    width: 50%;
    margin-left: 5%;
}

.half-width img {
    width: 550px;
    height: 550px;
}

.btn {
    text-align: center;
    margin-top: 15px;

}

.btn-com a {
    text-decoration: none;
    color: whitesmoke;
}


.btn-com {
    border: 1px solid rgb(234, 38, 4);
    border-radius: 10px;
    background: linear-gradient(to bottom, rgb(192, 15, 9), rgb(248, 55, 97));
    padding: 20px;
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
    font-family: "poppins", sans-serif;
    font-weight: 500;
    letter-spacing: 1.5px;
}

.about-me {
    display: flex;

    background: url(images/shapes/Frame\ 56.jpg);
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.25);
}



.about-me h2 {
    margin-top: 100px;
    text-decoration: none;
    font-size: 30px;
    color: rgb(36, 57, 57);
    text-align: center;
}

.about-me p {

    font-weight: 400;
    font-size: 20px;
    color: rgb(16, 24, 24);
    text-align: center;
    margin: 10px 10px;

}


.btn-com2 a {
    text-decoration: none;
    color: whitesmoke;
}

.btn-com2 {
    border: 1px solid rgb(22, 179, 181);
    border-radius: 10px;
    background: linear-gradient(to bottom, rgb(0, 109, 152), rgb(73, 203, 255));
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    cursor: pointer;
    transition: .3s;
    font-family: "poppins", sans-serif;
    font-weight: 500;
    letter-spacing: 1.5px;
}